body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    margin: 50px auto;
    display: block;
}

.interface {
    margin: 0 auto;
    /*display: inline-block;*/
    text-align: center;
}

.setup {
    margin-bottom: 10px;
    /*height: 20px;*/
    /*line-height: 20px;*/
    vertical-align: middle;
}

input {
    /*display: block;*/
    padding: 10px;
    text-transform: uppercase;
    border-radius: 50%;
}

input:hover {
    background-color: red;
}

input:focus {
    outline: none;
}
